.dashboard {
    display: flex;
    height: calc(100vh - #{$header-height});
}

.loading {
    background: rgba(255, 255, 255, 0.9);
    z-index: 100;
    font-size: 5rem;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 30vh;
    text-align: center;
    width: 100vw;
    height: 70vh;
}

.ReactModal__Overlay {
    background-color: rgba(0, 0, 0, 0.25) !important;
}


.modal-header {
    background: white;
    // background: linear-gradient(to right, cyan , purple);
    border-bottom: 1px solid #eee;
    // position: sticky;
    top: 0px;
    padding: 1rem;
}

.modal-close {
    cursor: pointer;
}