.drawer {
    background: white;
    height: min-content;
    margin: 2rem auto;
    margin-top: 0;
    max-width: $desktop-container-width;
    width: 100%;
    border: 1px solid #eee;
    border-radius: 0 0 0.8rem 0.8rem;
}
