.header {
    border-bottom: 1px solid #ddd;
    background: #fff;
    height: $header-height;
    text-align: center;
}

.header--title {
    max-width: $desktop-container-width;
    margin: auto;
}

.header--title > * {
    margin: 0;
    padding: 1rem 0;
}