.pagination {
  border-top: 1px solid $light-border-color;
  padding: 1rem;
  text-align: center;
}

.pagination--button {
  cursor: pointer;
  display: inline-block;
  margin: 1rem;
}

.pagination--button__selected {
  color: purple;
  cursor: default;
  font-weight: bold;
}

.pagination--button__unselected {
  color: gray;
}
