$ticket-padding: 2rem;
$modal-header-height: 1.8rem + 2 * $s-size;

.ticket {
  padding: $ticket-padding;
  overflow-y: scroll;
  height: calc(
    100vh - #{$modal-header-height} - #{$banner-height} - 2 * #{$ticket-padding}
  );
}

.ticket--heading {
  margin: 2rem;
}

@media only screen and (max-width: $desktop-container-width) {
  .ticket {
    padding: 2rem 0;
  }
}
