@import "./base/settings";
@import "./base/base";

@import "./components/_dashboard.scss";
@import "./components/_details.scss";
@import "./components/_drawer.scss";
@import "./components/_header.scss";
@import "./components/_list.scss";
@import "./components/_listing.scss";
@import "./components/_pagination.scss";
@import "./components/_ticket.scss";

@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Raleway:100");

.app {
  height: 100vh;
  overflow: hidden;
  background: #f9f9f9;
}

.message {
  background: rgba(255, 255, 255, 0.9);
  font-size: $xl-size;
  padding-top: 30vh;
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  height: 70vh;
  width: 100vw;
  z-index: 100;
}

.banner {
  background: linear-gradient(to right, cyan, purple);
  padding: $banner-height / 2;
}

@media only screen and (max-width: $desktop-container-width) {
  .message {
    font-size: $l-size;
  }
}
