// Colors
$light-border-color: #eee;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

// Heights
$header-height: 9.6rem;
$pagination-height: 6.1rem;
$header-height-mobile: 5.6rem;
$pagination-height-mobile: 5.9rem;
$banner-height: 0.5rem;

// Widths
$drawer-width: 400px;
$desktop-container-width: 720px;
